export(make_metacell_ids)
export(extract_TAX_metacell)
export(get_peak2gene_links)
export(get_peak_motif_map)
export(build_stage1_priors)
export(read_finemap_snps)
export(snps_to_granges)
export(map_snps_to_peaks)
export(peak_weights_from_snps)
export(penalty_from_peak_weights)
export(build_stage2_peak_penalty)
export(estimate_lambda_stage1)
export(estimate_lambda_stage2)
export(fit_stage1_T_to_A)
export(fit_stage2_A_to_X)
export(predict_virtual_ko)
export(rank_by_effect)
export(run_virtual_ko_optimized)
